<div class="scrollable-list">
  <button class="nav-btn nav-left" mat-icon-button (click)="scrollLeft()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <div class="card-container" #scrollContainer>
    @for (card of cards; track card) {
      <app-projects-card class="scroll-card" [title]="card.title"
                         [iconPath]="card.url"
                         [shortDescription]="card.description">
      </app-projects-card>
    }
  </div>
  <button class="nav-btn nav-right" mat-icon-button (click)="scrollRight()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
