.scrollable-list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  gap: 20px;
  width: 100%;

  padding: 12px 6px;
}
